Package: Ecartis-cgi
Version: 1.0.2
Section: mail
Priority: extra
Architecture: amd64
Depends: ecartis, apache | httpd
Conflicts: listar, listar-cgi
Source: https://github.com/d-graef/ecartis/archive/master.zip
Maintainer: detlef.graef@yahoo.de
Installed-Size: 256
Homepage: https://ecartis.net/
Description: CGI front-end for Ecartis (unofficial build)
 This is the experimental web-based front-end for the Ecartis
 mailing list management program.
